@import '../.././/../scss/variables';
.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	> .count {
		width: 27%;
		font-size: 24px;

		.heading {
			color: $light-purple;
			text-transform: capitalize;
		}
		.number {
			font-weight: bold;
			text-align: center;
		}
	}
}
