@import '../.././/../scss/variables';
.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.profile {
		> .count .heading {
			color: #775f5f;
		}
	}

	> .count {
		width: 27%;
		font-size: 24px;
		text-align: center;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;

		.heading {
			color: $light-purple;
			text-transform: capitalize;
		}
		.number {
			font-weight: bold;
			text-align: center;
		}
	}
}
