@import '../../../scss/variables';

$accent-04: rgba($accent, 0.4);

.button {
	border: none;
	outline: none;
	font-size: 18px;
	border-radius: 10px;
	padding: 14px 48px;
	transition: background-color 0.4s ease;
	background-color: $accent-04;
	cursor: pointer;
	color: #fff;
	width: fit-content;

	@media (max-width: $mobile) {
		font-size: 16px;
		padding: 12px 38px;
	}

	&:hover {
		background-color: rgba($accent, 0.7);
	}

	&.main {
		// background-color: rgba(255, 255, 255, 0.25);
		background-color: rgba(255, 255, 255, 0.9);
		color: $black;

		&:hover {
			background-color: $accent-04;
			// color: $white;
		}
	}
}

.wrapper {
	text-align: center;
}
